html {
  --foreground-hsl: 206, 10%, 86%;
  --background-hsl: 180, 2%, 10%;

  background-color: hsl(var(--background-hsl));
  color: hsl(var(--foreground-hsl));
}

#root {
  min-width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.5;
}
