html {
  font-size: 16px;
}

body {
  padding: 1.5rem 3rem;
}

a {
  color: mediumblue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

/* - */
/* - */
/* - */

.welcome {
  margin: 3rem auto;
  max-width: 27rem;
  padding: 1.5rem;
  text-align: center;
}

.welcome__heading {
  font-size: 1.5em;
}

.welcome__instruction {
  margin-top: 1.5rem;
}

/* - */
/* - */
/* - */



.notification {
  background-color: orangered;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  padding: .25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification__icon {
  background-color: white;
  color: orangered;
  display: inline-block;
  flex: 0 0 32px;
  font-size: 1.5em;
  height: 32px;
  line-height: 32px;
  margin-right: .5rem;
  text-align: center;
  vertical-align: -10%;
}

.notification__text {
  flex: 1 0 auto;
}

/* - */
/* - */
/* - */

.entity {
  align-items: center;
  display: inline-flex;
  max-width: 100%;
}

.entity + .entity {
  margin-left: 1px;
}

.entity__picture {
  background-color: #111;
  flex: 0 0 32px;
  overflow: hidden;
}

.entity__picture__img {
  display: block;
}

.entity__name {
  flex: 0 1 auto;
  margin: 0 .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* - */
/* - */
/* - */

.table {
  table-layout: fixed;
  width: 100%;
}

.table th,
.table td {
  padding: .25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  color: gray;
  font-weight: bolder;
  text-align: left;
}

.table td {
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td {
  overflow-y: -moz-scrollbars-none;
}

.table td::-webkit-scrollbar {
  display: none;
}

.table tbody tr:first-child td {
  border-top: 1px solid gainsboro;
}

.table tbody tr:last-child td {
  border-bottom: 1px solid gainsboro;
}

.table tbody tr:nth-child(2n+1) td {
  background-color: whitesmoke;
}

.table tbody tr:hover td {
  box-shadow:
}

.table__sortable {
  cursor: pointer;
  user-select: none;
}

.table__sortable:hover,
.table__sortable.table__sortable--asc,
.table__sortable.table__sortable--desc {
  color: black;
}

/* - */
/* - */
/* - */

.footer {
  margin-top: 1.5rem;
  text-align: center;
}

.footer__legal-1 {
  color: dimgray;
  font-size: .875em;
}

.footer__legal-2 {
  color: darkgray;
  font-size: .75em;
  margin-top: .75rem;
}
