html {
  font-size: 16px;
}

body {
  background-color: hsl(180, 20%, 5%);
  color: hsl(98, 13%, 63%);
  font-family: Miriam Libre, sans-serif;
  overflow-y: scroll;
}

::selection {
  color: inherit;
  background-color: rgba(158, 174, 149, 0.25);
}

*:focus {
  outline: 0;
}
