html {
  font-size: 16px;
}

body {
  background-color: hsl(138, 1%, 15%);
  color: hsl(138, 27%, 57%);
  font-family: Miriam Libre, sans-serif;
  overflow-x: hidden;
}

::selection {
  color: inherit;
  background-color: hsla(0, 0%, 0%, 0.5);
}

*:focus {
  outline: 0;
}
