html {
  font-size: 16px;
}

body {
  background-color: rgb(10, 15, 15);
  color: rgb(158, 174, 149);
  font-family: Miriam Libre, sans-serif;
  overflow-x: hidden;
}

::selection {
  color: inherit;
  background-color: hsla(0, 0%, 0%, 0.5);
}

*:focus {
  outline: 0;
}
