.ships {
  display: flex;
  overflow-x: auto;
}

.ships > * {
  flex: 0 0 auto;
}

.ships > * + * {
  margin-left: 0.375rem;
}

.ships {
  -ms-overflow-style: 0;
  scrollbar-width: 0;
}
.ships::-webkit-scrollbar {
  display: none;
}
