@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .main {
    margin: 0 .75rem 1.5rem;
  }

  .brand a {
    padding: .75rem;
  }

  .table thead th:nth-child(4) {
    display: none;
  }

  .table tbody td:nth-child(4) {
    display: none;
  }
}
