@import "https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500";

html {
  font-size: 16px;
}

body {
  color: #111;
  font-family: Saira Semi Condensed, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: black;
}

abbr[title] {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

/* - */
/* - */
/* - */

.plate {
  border-radius: 3px;
  padding: 0 .25em;
}

:hover > .plate {
  background-color: rgba(0, 0, 50, .05);
}

/* - */
/* - */
/* - */

.main {
  margin: 0 3rem 3rem;
}

/* - */
/* - */
/* - */

.brand {
  box-shadow: 0 1px rgba(0, 0, 50, .05);
  color: gray;
  font-weight: 500;
  text-align: center;
}

.brand a {
  color: inherit;
  display: inline-block;
  padding: .75rem 1.125rem;
}

.brand a:hover {
  color: black;
}

/* - */
/* - */
/* - */

.welcome {
  margin: 4.5rem auto;
  max-width: 42rem;
  text-align: center;
}

.welcome__heading {
  font-size: 1.5em;
}

.welcome__instruction {
  margin-top: .75rem;
}

/* - */
/* - */
/* - */

.notification {
  background-color: orangered;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  padding: .25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification__icon {
  background-color: white;
  color: orangered;
  display: inline-block;
  flex: 0 0 32px;
  font-size: 1.5em;
  height: 32px;
  line-height: 32px;
  margin-right: .5rem;
  text-align: center;
  vertical-align: -10%;
}

.notification__text {
  flex: 1 0 auto;
}

/* - */
/* - */
/* - */

.entity {
  align-items: center;
  border-radius: 3px;
  display: inline-flex;
  max-width: 100%;
}

.entity + .entity {
  margin-left: 2px;
}

.entity__picture {
  background-color: #111;
  border-radius: 3px;
  flex: 0 0 auto;
  overflow: hidden;
}

.entity__picture__img {
  display: block;
}

.entity__name {
  flex: 0 1 auto;
  margin: 0 .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* - */
/* - */
/* - */

.table {
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1.5rem;
  table-layout: fixed;
  width: 100%;
}

.table th,
.table td {
  padding: .25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table th {
  color: gray;
  font-weight: 500;
  text-align: left;
}

.table td {
  -webkit-scrollbar: touch;
  overflow-x: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td {
  overflow-y: -moz-scrollbars-none;
}

.table td::-webkit-scrollbar {
  display: none;
}

.table td:first-child {
  border-radius: 3px 0 0 3px;
}

.table td:last-child {
  border-radius: 0 3px 3px 0;
}

.table tbody tr:nth-child(2n+1) td {
  background-color: #f9f9f9;
}

.table tbody tr:hover td {
  background-color: #e9ebee;
  box-shadow: 0 1px #e9ebee, 0 -1px #e9ebee;
}

.table tbody tr:hover td:first-child {
  box-shadow: 0 1px #e9ebee, 0 -1px #e9ebee, -1px 0 #e9ebee;
}

.table tbody tr:hover td:last-child {
  box-shadow: 0 1px #e9ebee, 0 -1px #e9ebee, 1px 0 #e9ebee;
}

.table__sortable {
  cursor: pointer;
  user-select: none;
}

.table__sortable:hover,
.table__sortable.table__sortable--asc,
.table__sortable.table__sortable--desc {
  color: inherit;
}

/* - */
/* - */
/* - */

.footer {
  margin-top: 3rem;
  text-align: center;
}

.footer__legal-1 {
  color: dimgray;
  font-size: .875em;
}

.footer__legal-1 a {
  color: #111;
}

.footer__legal-2 {
  color: gray;
  font-size: .75em;
  margin-top: .75rem;
}
