.entity {
  align-items: center;
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entity img {
  background-color: #111;
}

.entity img + span {
  margin-left: 0.5rem;
}
