.entity {
  align-items: center;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entity img {
  border-radius: 0.25rem;
  display: block;
  height: 2em;
  width: 2em;
  image-rendering: crisp-edges;
}

.entity img + span {
  margin-left: 0.375rem;
}
